@import "./tachyons.scss";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
  
  $font-main: Alata;
  $font-body: Arial, sans-serif;

  h1, h2, h3, h4, h5, h6{
    font-family: $font-main;
    font-weight: normal;
  }
  
  div, p, a, span, img {
    font-family: $font-body;
  }

  body {
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
  }